<h1 fxLayoutAlign="center">MAKE YOUR OWN PIZZA</h1>
<nz-steps [nzCurrent]="current">
    <nz-step nzTitle="BASE"></nz-step>
    <nz-step nzTitle="CHEESE"></nz-step>
    <nz-step nzTitle="MEAT"></nz-step>
    <nz-step nzTitle="VEGGIE"></nz-step>
    <nz-step nzTitle="SUMMARY"></nz-step>
</nz-steps>

<div class="steps-content">
    <div *ngIf="current === 0">
        <div nz-row class="center-text select-pizza-size">
            <div nz-col class="gutter-row" [nzSpan]="12">
                <h3>Select Pizza Size</h3>
                <nz-radio-group [(ngModel)]="selectedPizzaSize" (ngModelChange)="onSelectSize($event)" *ngFor="let size of pizzaSizeArray">
                    <label nz-radio nzValue="{{size.value}}">{{size.label}}</label>
                </nz-radio-group>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
                <div class="inner-box">
                    <h3>Pick up or Delivery</h3>
                    <nz-radio-group [(ngModel)]="selectedDeliveryType" (ngModelChange)="onSelectDeliveryType($event)" *ngFor="let deliveryType of deliveryTypeArray">
                        <label nz-radio nzValue="{{deliveryType.value}}">{{deliveryType.label}}</label>
                    </nz-radio-group>
                </div>
            </div>
        </div>
        <div fxLayoutAlign="center">
            <img src="{{initialPizzaImage}}" style="width: 100%;">
        </div>
    </div>
    <div *ngIf="current === 1">
        <app-topping [input]="cheeses" [index]=1></app-topping>
    </div>
    <div *ngIf="current === 2">
        <app-topping [input]="meats" [index]=2></app-topping>
    </div>
    <div *ngIf="current === 3">
        <app-topping [input]="veggies" [index]=3></app-topping>
    </div>
    <div *ngIf="current === 4">
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayout.md="column" fxLayout.lt fxLayoutGap="10px">
            <div fxFlexOrder="1">
                <div fxLayoutAlign="center">
                    <img src="assets/pizza/4pizza-final.png" width="100%">
                </div>
            </div>
            <div fxFlexOrder="2">
                <div>
                    <nz-divider nzText="Your Selections" nzOrientation="center"></nz-divider>
                    <h3><fa-icon [icon]="faCubes"></fa-icon>Size</h3>
                    <span app-italicize>{{finalSelectedPizzaSize}}</span>
                    <h3><fa-icon [icon]="faCar"></fa-icon>Order Type</h3>
                    <span app-italicize>{{finalSelectedDeliveryType}}</span>
                    <h3><fa-icon [icon]="faPizzaSlice"></fa-icon>Selected Toppings</h3>
                    <nz-divider nzText="Cheeses" nzOrientation="left"></nz-divider>
                    <div *ngFor="let topping of selectedCheeeses">
                        <li app-italicize>{{topping.name}}</li>
                    </div>
                    <nz-divider nzText="Meats" nzOrientation="left"></nz-divider>
                    <div *ngFor="let topping of selectedMeats">
                        <li app-italicize>{{topping.name}}</li>
                    </div>
                    <nz-divider nzText="Veggies" nzOrientation="left"></nz-divider>
                    <div *ngFor="let topping of selectedVeggies">
                        <li app-italicize>{{topping.name}}</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="current === 4 && isShowMessageIndicator">
    <nz-alert nzMessage="{{this.messageIndicator.message}}" nzType="{{this.messageIndicator.type}}" nzShowIcon></nz-alert>
</div>
<div class="steps-action">
    <button [disabled]="isPreviousBtnDisabled" nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
        <span>Previous</span>
    </button>
    <button nz-button nzType="default" (click)="next()" *ngIf="current < 4">
        <span>Next</span>
    </button>
    <button [disabled]="isAddToOrderBtnDisabled" [nzLoading]="isAddingPizzaToCart" nz-button nzType="primary" (click)="addToOrder()" *ngIf="current === 4">
        <span>ADD TO ORDER</span>
    </button>
</div>