<!-- https://stackblitz.com/edit/integrations-ant-step-numbering GOOD EXAMPLE OF USING NG-TEMPLATE AND # -->
<h1 class="center-text">CHECKOUT</h1>
<div nz-row>
    <div nz-col [nzSpan]="10">
        <div nz-row>
            <img src="assets/pizza/box-pizza.jpg" width="100%">
        </div>
        <div nz-row class="order-summary">
            <nz-divider nzText="Order Summary" nzOrientation="left"></nz-divider>
            <label>Total meats topping: {{orderSummary.totalSelectedMeatTopping}} x .90 = {{orderSummary.totalCostForSelectedMeatTopping | currency}}</label>
            <hr />
            <label>Total veggies topping: {{orderSummary.totalSelectedVeggieTopping}} x .80 = {{orderSummary.totalCostForSelectedVeggieTopping | currency}}</label>
            <hr />
            <label>Total cheeses topping: {{orderSummary.totalSelectedCheeseTopping}} x .70 = {{orderSummary.totalCostForSelectedCheeseTopping | currency}}</label>
            <hr />
            <label>Base pizza size: {{orderSummary.pizzaSize}} @ {{orderSummary.pizzaBasePrice | currency}}</label>
            <hr />
            <label>Subtotal: {{orderSummary.subtotal | currency}}</label>
            <hr />
            <label>Total tax: {{orderSummary.taxPercent}} * {{orderSummary.subtotal | currency}} = {{orderSummary.totalTax | currency}}</label>
            <hr />
            <label>Total due: {{orderSummary.totalDue | currency}}</label>
        </div>
    </div>
    <div nz-col [nzSpan]="14" style="max-width: 450px;" class="payment-info">
        <nz-steps [nzCurrent]="currentStep" nzDirection="vertical">
            <nz-step nzTitle="Your Information" [nzDescription]="stepZero" nzIcon="user">
            </nz-step>
            <nz-step nzTitle="Order Type" [nzDescription]="stepOne" nzIcon="car"></nz-step>
            <nz-step nzTitle="Payment information" [nzDescription]="stepTwo" nzIcon="bank"></nz-step>
        </nz-steps>
        
        <ng-template #stepZero>
            <div [hidden]="shouldStepZeroHidden">
                <form nz-form [formGroup]="personalInfoForm">
                    <nz-form-item>
                        <label for="name">Name*</label>
                        <nz-form-control nzErrorTip="Please input your full name!">
                            <nz-input-group nzPrefixIcon="user">
                                <input type="text" nz-input formControlName="userName" placeholder="First and Last Name" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    
                    <nz-form-item>
                        <label for="name">Phone*</label>
                        <nz-form-control nzErrorTip="Please input your phone number!">
                            <nz-input-group nzPrefixIcon="phone">
                                <input type="text" nz-input formControlName="phone" placeholder="Mobile Phone" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>
        </ng-template>
        
        <ng-template #stepOne>
            <div [hidden]="shouldStepOneHidden">
                <div *ngIf="orderSummary.deliveryType === 'delivery'; else carryOutBlock">
                    <form nz-form [formGroup]="deliveryInfoForm">
                        <div>
                            <!-- if delivery, we need address -->
                            <nz-form-item>
                                <label for="name">Street Address*</label>
                                <nz-form-control nzErrorTip="Please input your address">
                                    <nz-input-group nzPrefixIcon="user">
                                        <input type="text" nz-input formControlName="address" placeholder="Address" />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <label for="name">Apt/Ste/Floor</label>
                                <nz-input-group nzCompact>
                                    <nz-select formControlName="aptStFloorSelect" style="width: 100px;">
                                        <nz-option *ngFor="let opt of aptStFloorOptions" [nzLabel]="opt" [nzValue]="opt"></nz-option>
                                    </nz-select>
                                    <input type="text" nz-input formControlName="aptStFloor" placeholder="Apt #/Ste/Floor" style="width: auto;" />
                                </nz-input-group>
                            </nz-form-item>
                            <nz-form-item>
                                <label for="name">Zip Code*</label>
                                <nz-form-control nzErrorTip="Please input your zip code">
                                    <nz-input-group nzPrefixIcon="user">
                                        <input type="text" nz-input formControlName="zipCodeForDeliveryAddress" placeholder="Zip Code" />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <label for="name">Delivery Instruction</label>
                                <nz-form-control nzErrorTip="Please write something here!">
                                    <textarea formControlName="comment" nz-input rows="2" placeholder="write a delivery instruction"></textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </form>
                </div>
                <ng-template #carryOutBlock>
                    <i>Your order is carry out</i> 
                </ng-template>
            </div>
        </ng-template>
        
        <ng-template #stepTwo>
            <div [hidden]="shouldStepTwoHidden">
                <form nz-form [formGroup]="paymentInfoForm">
                    <div nz-row [nzGutter]="8">
                        <div nz-col [nzSpan]="14">
                            <nz-form-item>
                                <label for="name">Card Number*</label>
                                <nz-form-control nzErrorTip="Please input your card number!">
                                    <nz-input-group nzPrefixIcon="credit-card">
                                        <input type="text" nz-input formControlName="cardNumber" placeholder="Card #" />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col [nzSpan]="10">
                            <nz-form-item>
                                <label for="name">Expiration Date*</label>
                                <nz-form-control nzErrorTip="Please input expiration date!">
                                    <nz-month-picker [nzStyle]="{'width': '100%'}"  formControlName="expirationDate"></nz-month-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div nz-row [nzGutter]="8">
                        <div nz-col [nzSpan]="14">
                            <nz-form-item>
                                <label for="name">CVV*</label>
                                <nz-form-control nzErrorTip="Please input your card cvv!">
                                    <nz-input-group nzPrefixIcon="credit-card">
                                        <input type="text" nz-input formControlName="cvv" placeholder="CVV Number" />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col [nzSpan]="10">
                            <nz-form-item>
                                <label for="name">Zip Code*</label>
                                <nz-form-control nzErrorTip="Please input your zip code!">
                                    <nz-input-group nzPrefixIcon="credit-card">
                                        <input type="text" nz-input formControlName="zipCodeForPayment" placeholder="Zip Code" />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>         
                </form>
            </div>
        </ng-template>
        <div>
            <button nz-button nzType="default" (click)="pre()" *ngIf="showPreviousButton">
                <span>Previous</span>
            </button>&nbsp;
            <button nz-button nzType="default" (click)="next()" *ngIf="showNextButton">
                <span>Next</span>
            </button><span *ngIf="showNextButton">&nbsp;</span>
            <button nz-button nzType="primary" *ngIf="currentStep === 2" [disabled]="!personalInfoForm.valid || !deliveryInfoForm.valid || !paymentInfoForm.valid" (click)="checkout()">
                <span>PLACE ORDER</span>
            </button>
        </div>
    </div>
</div>