<h1 class="center-text">LOGIN</h1>
<div nz-row>
    <div nz-col nzSpan="9"></div>
    <div nz-col nzSpan="10" class="login-form">
        <form nz-form [formGroup]="userLoginForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your email!">
                    <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="email" placeholder="email" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password!">
                    <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="Password" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <button nz-button [disabled]="!userLoginForm.valid" class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
        </form>
        <nz-divider nzText="OR"></nz-divider>
        <button nz-button nzType="default" class="login-form-button login-form-margin" (click)="redirectToRegister()">Register</button>
        <div class="center-text" *ngIf="!isLoggingIn">
            {{status}}
        </div>
    </div>
    <div nz-col nzSpan="5"></div>
</div>