<h1 fxLayoutAlign="center">CART</h1>
<!-- summary -->
<div *ngIf="cartSummary !== undefined" class="summary-box" fxLayout="column" style="width: 100%; margin-bottom: 5px;">
    <div>
        <span>Subtotal</span> <span style="float: right;">{{cartSummary.subTotal | currency}}</span>
    </div>
    <div>
        <span>Tax</span> <span style="float: right;">{{cartSummary.tax | currency}}</span>
    </div>
    <div>
        <span>Total</span> <span style="float: right;">{{cartSummary.total | currency}}</span>
    </div>
    <button style="width: 100%;" nz-button nzType="primary" (click)="checkout()">CHECKOUT</button>
</div>
<!-- wings -->
<div *ngIf="cart !== undefined && cart.wings !== undefined && cart.wings.length !== 0; else emptyWingBlock" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayout.md="column" fxLayoutGap="10px">
    <div *ngFor="let wing of cart.wings">
        <div class="wing-box" fxFlex="4 4 calc(12em + 20px)" style="margin-bottom: 5px;">
            <nz-card [nzCover]="wingimage">
                <nz-card-meta nzTitle="{{wing.name}}" nzDescription="{{wing.selectedQty}} wings at {{wing.selectedPrice | currency}}"></nz-card-meta>
                <nz-card-meta nzDescription="{{wing.selectedFlavor}}"></nz-card-meta>
                <nz-card-meta nzDescription="Number of order {{wing.numberOfOrder}}"></nz-card-meta>
            </nz-card>
            <ng-template #wingimage>
                <img alt="{{wing.name}}" src="{{wing.img}}"/>
            </ng-template>
            <div fxLayoutAlign="center" class="ant-card-actions">
                <span (click)="editWing(wing)" style="font-size: 20px;" nzTooltipTitle="Edit" nzTooltipPlacement="top" nz-tooltip><fa-icon [icon]="faPen"></fa-icon></span>&nbsp;&nbsp;&nbsp;
                <span (click)="removeWing(wing)" style="color: red; font-size: 20px;" nzTooltipTitle="Remove" nzTooltipPlacement="top" nz-tooltip><fa-icon [icon]="faTrash"></fa-icon></span>
            </div>
        </div>
    </div>
</div>  
<ng-template  #emptyWingBlock>
    <div *ngIf="!isShowStatusMessageOnNonModal">
        <hr />
        <p fxLayoutAlign="center" style="color: green;">
            <i>No wing in cart!, <a [routerLink]="['/wings']">Let's add some wings!</a></i>
        </p> 
        <hr />
    </div>
</ng-template>

<!-- pizzas -->
<div *ngIf="cart !== undefined && cart.pizzas !== undefined && cart.pizzas.length !== 0; else emptyPizzaBlock" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayout.md="column" fxLayoutGap="10px">
    <div *ngFor="let pizza of cart.pizzas">
        <div class="pizza-box" fxFlex="4 4 calc(12em + 20px)" style="margin-bottom: 5px;">
            <nz-card [nzCover]="pizzaimage">
                <nz-card-meta nzTitle="Pizza" nzDescription="{{pizza.selectedPizzaSize}} pizza at {{pizza.selectedPizzaPrice | currency}}"></nz-card-meta>
                <nz-card-meta nzDescription="Order type is {{pizza.orderType}}"></nz-card-meta>
                <nz-card-meta nzDescription="Number of order {{pizza.numberOfOrder}}"></nz-card-meta>
            </nz-card>
            <ng-template #pizzaimage>
                <div fxLayoutAlign="center">
                    <img style="width: 175px; height: 203px;" alt="pizza" src="{{pizza.img}}"/>
                </div>
            </ng-template>
            <div fxLayoutAlign="center" class="ant-card-actions">
                <span (click)="editPizza(pizza)" style="font-size: 20px;" nzTooltipTitle="Edit" nzTooltipPlacement="top" nz-tooltip><fa-icon [icon]="faPen"></fa-icon></span>&nbsp;&nbsp;&nbsp;
                <span (click)="removePizza(pizza)" style="color: red; font-size: 20px;" nzTooltipTitle="Remove" nzTooltipPlacement="top" nz-tooltip><fa-icon [icon]="faTrash"></fa-icon></span>
            </div>
        </div>
    </div>
</div>
<ng-template #emptyPizzaBlock>
    <p *ngIf="!isShowStatusMessageOnNonModal" fxLayoutAlign="center" style="color: green;">
        <i>No pizza in cart!, <a [routerLink]="['/']">Let's add some pizzas!</a></i>
    </p>
</ng-template>
<!-- summary -->
<div *ngIf="cartSummary !== undefined" class="summary-box" fxLayout="column" style="width: 100%;">
    <div>
        <span>Subtotal</span> <span style="float: right;">{{cartSummary.subTotal | currency}}</span>
    </div>
    <div>
        <span>Tax</span> <span style="float: right;">{{cartSummary.tax | currency}}</span>
    </div>
    <div>
        <span>Total</span> <span style="float: right;">{{cartSummary.total | currency}}</span>
    </div>
    <button style="width: 100%;" nz-button nzType="primary" (click)="checkout()">CHECKOUT</button>
</div>
<div *ngIf="isShowStatusMessageOnNonModal" class="remove-item-message-box" fxLayoutAlign="center">{{statusMessageOnNonModal}}</div>

<!-- remove item modal -->
<nz-modal [(nzVisible)]="isRemoveModalVisible" nzTitle="Confirmation" nzMaskClosable="false" (nzOnCancel)="handleRemoveModalCancel()">
    <div *ngIf="selectedWing !== undefined">
        <p><fa-icon style="color: orange" [icon]="faQuestionCircle"></fa-icon> Are you sure you want to remove <i><b>{{selectedWing.name}}</b></i>?</p>
    </div>
    <nz-alert *ngIf="isShowSuccessStatusMessageOnModal" nzType="success" nzMessage="{{statusMessageOnModal}}" nzShowIcon></nz-alert>
    <nz-alert *ngIf="isShowFailureStatusMessageOnModal" nzType="error" nzMessage="{{statusMessageOnModal}}" nzShowIcon></nz-alert>
    
    <div *nzModalFooter>
        <button [disabled]="isRemovedBtnDisabled" style="width: 100%;" nz-button nzType="primary" (click)="handleRemoveModalOk()" [nzLoading]="isRemoving" nzDanger>REMOVE</button>
    </div>
</nz-modal>

<!-- update item modal -->
<nz-modal [(nzVisible)]="isEditModalVisible" nzMaskClosable="false" nzTitle="Update Order" (nzOnCancel)="handleEditModalCancel()">
    <form nz-form [formGroup]="updateItemInCartForm" (ngSubmit)="handleEditModalUpdate()">
        <div *ngIf="selectedWing !== undefined">
            <div fxLayoutAlign="center" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayout.md="column" fxLayout.lt fxLayoutGap="5px">
                <div fxLayout="column" fxLayout.lt-sm="column" fxLayout.md="column" fxLayout.lt fxLayoutGap="10px">
                    <div>
                        <h3>{{selectedWing.name}}</h3>
                    </div>
                        <div>
                            <!-- order qty -->
                            <nz-select formControlName="qty" style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="How Many Wing?" [(ngModel)]="selectedQty" (ngModelChange)="qtyDropdownSelect($event)">
                                <nz-option *ngFor="let qty of quanties" nzLabel="{{qty}}" nzValue="{{qty}}"></nz-option>
                            </nz-select>
                        </div>
                        <div *ngIf="selectedWing.hasFlavor">
                            <!-- flavor -->
                            <nz-select formControlName="flavor" style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="What Flavor?" [(ngModel)]="selectedFlavor" (ngModelChange)="flavorDropdownSelect($event)">
                                <nz-option *ngFor="let flavor of flavors" nzLabel="{{flavor}}" nzValue="{{flavor}}"></nz-option>
                            </nz-select>
                        </div>
                        <div>
                            <!-- number of order -->
                            <nz-select formControlName="nbrOfOrder" style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="How many order?" [(ngModel)]="numberOfOrder" (ngModelChange)="numberOfOrderDropdownSelect($event)">
                                <nz-option *ngFor="let order of orderQtys" nzLabel="{{order}}" nzValue="{{order}}"></nz-option>
                            </nz-select>
                        </div>
                </div>
                <div>
                    <img src="{{selectedWing.img}}">
                </div>
            </div>
        </div>
        <div style="padding-top: 5px;" *ngIf="isShowMessageIndicator">
            <nz-alert nzMessage="{{this.messageIndicator.message}}" nzType="{{this.messageIndicator.type}}" nzShowIcon></nz-alert>
        </div>
        <div *nzModalFooter>
            <button [disabled]="isUpdateBtnDisabled" style="width: 100%;" nz-button nzType="primary" (click)="handleEditModalUpdate()" [nzLoading]="isUpdating">UPDATE</button>
        </div>
    </form>
</nz-modal>