<h1 fxLayoutAlign="center">CART</h1>
<div fxLayoutAlign="center">{{message}}</div>
<div *ngIf="cart !== undefined" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayout.md="column" fxLayoutGap="10px">
    <div *ngFor="let wing of cart.wings">
        <div class="wing-box" fxFlex="4 4 calc(12em + 20px)" style="margin-bottom: 5px;">
            <nz-card [nzCover]="wingimage">
                <nz-card-meta nzTitle="{{wing.name}}" nzDescription="{{wing.selectedQty}} wings at {{wing.selectedPrice | currency}}"></nz-card-meta>
                <nz-card-meta nzDescription="{{wing.selectedFlavor}}"></nz-card-meta>
                <nz-card-meta nzDescription="Number of order {{wing.numberOfOrder}}"></nz-card-meta>
            </nz-card>
            <ng-template #wingimage>
                <img alt="{{wing.name}}" src="{{wing.img}}"/>
            </ng-template>
            <div fxLayoutAlign="center" class="ant-card-actions">
                <span (click)="edit(wing)" style="font-size: 20px;" nzTooltipTitle="Edit" nzTooltipPlacement="top" nz-tooltip><fa-icon [icon]="faPen"></fa-icon></span>&nbsp;&nbsp;&nbsp;
                <span (click)="remove(wing)" style="color: red; font-size: 20px;" nzTooltipTitle="Remove" nzTooltipPlacement="top" nz-tooltip><fa-icon [icon]="faTrash"></fa-icon></span>
            </div>
        </div>
    </div>
    <div class="wing-box" fxLayout="column" style="width: 100%;">
        <div>
            <span>Subtotal</span> <span style="float: right;">{{cartSummary.subTotal | currency}}</span>
        </div>
        <div>
            <span>Tax</span> <span style="float: right;">{{cartSummary.tax | currency}}</span>
        </div>
        <div>
            <span>Total</span> <span style="float: right;">{{cartSummary.total | currency}}</span>
        </div>
        <button style="width: 100%;" nz-button nzType="primary" (click)="checkout()">CHECKOUT</button>
    </div>
</div>  

<nz-modal [(nzVisible)]="isRemoveModalVisible" nzTitle="Confirmation" nzMaskClosable="false" (nzOnCancel)="handleRemoveModalCancel()">
    <div *ngIf="selectedWing !== undefined">
        <p><fa-icon style="color: orange" [icon]="faQuestionCircle"></fa-icon> Are you sure you want to remove <i><b>{{selectedWing.name}}</b></i>?</p>
    </div>
    <div *nzModalFooter>
        <button style="width: 100%;" nz-button nzType="primary" (click)="handleRemoveModalOk()" [nzLoading]="isRemoving" nzDanger>REMOVE</button>
    </div>
</nz-modal>
<nz-modal [(nzVisible)]="isEditModalVisible" nzMaskClosable="false" nzTitle="Update Order" (nzOnCancel)="handleEditModalCancel()">
    <div *ngIf="selectedWing !== undefined">
        <div fxLayoutAlign="center" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayout.md="column" fxLayout.lt fxLayoutGap="5px">
            <!-- <div style="border-style: solid;" fxLayout="column" fxLayout.lt-sm="column" fxLayout.md="column" fxLayout.lt fxLayoutGap="10px"> -->
            <div fxLayout="column" fxLayout.lt-sm="column" fxLayout.md="column" fxLayout.lt fxLayoutGap="10px">
                <div>
                    <h3>{{selectedWing.name}}</h3>
                </div>
                <div>
                    <!-- order qty -->
                    <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="How Many Wing?" [(ngModel)]="selectedValue" (ngModelChange)="qtyDropdownSelect($event)">
                        <nz-option *ngFor="let qty of quanties" nzLabel="{{qty}}" nzValue="{{qty}}"></nz-option>
                    </nz-select>
                </div>
                <div>
                    <!-- flavor -->
                    <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="What Flavor?" [(ngModel)]="selectedValue">
                        <nz-option *ngFor="let flavor of flavors" nzLabel="{{flavor}}" nzValue="{{flavor}}"></nz-option>
                    </nz-select>
                </div>
                <div>
                    <!-- qty -->
                    <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="How many order?" [(ngModel)]="selectedValue">
                        <nz-option *ngFor="let order of orderQtys" nzLabel="{{order}}" nzValue="{{order}}"></nz-option>
                    </nz-select>
                </div>
            </div>
            <!-- <div style="border-style: solid;"> -->
            <div>
                <img src="{{selectedWing.img}}">
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button style="width: 100%;" nz-button nzType="primary" (click)="handleEditModalUpdate()" [nzLoading]="isUpdating">UPDATE</button>
    </div>
</nz-modal>